<div class="mainCont">
    <%=image_tag("golfswing.jpg", :class=> "welcomein") %>
    
    <h1>Home Page</h1>
    
    <p>Welcome to the new golf home page!</p>
    
    <br>
    
    <p>Later we will finish this content.............</p>
</div>
