<div class="edit_show_new">
    <h1>Edit Item</h1>
    
    <%= render 'form', item: @item %>
    
    <%= link_to 'Show', @item, :class => "button", :role => "button" %> 
    <%= link_to 'Back', items_path, :class => "button", :role => "button" %>
</div>